<%= paginator.render do -%>
  <div class="pagination">
    <span class="pager">
      <%= prev_page_tag -%>
    </span>
    <span class="pager">
      <%= next_page_tag -%>
    </span>
  </div>
<% end -%>
