$default_white: #FFF;
$default_blue: #3498DB;
$default_purple: #6c7ae0;
$default_aside: #CEC5D5;

body {
  border: 20px solid #BDC3C7;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  max-width: 1200px;
  width: 80%;
  margin: 20px auto;
  background-color: #BDC3C7;
}

.container,
.group-container {
  background-color: $default_white;
}

form {
  label {
    font-style: italic;
    color: $default_aside
  }

  div {
    padding-bottom: 5px;
  }
}

section {
  float: left;
  max-width: 1200px;
  width: 70%;
}

aside {
  float: right;
  width: 20%;
  border: 2px solid $default_aside;
  height: 200px;
  background-color: $default_white;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;

  h3 {
    color: #2db34a;
  }

  ul {
    list-style-type: circle;
  }

  li {
    margin-top: 10px;

    &:before {
      color: $default_aside;
    }
  }

  a {
    border-bottom: 1px solid $default_aside;
    color: #0087cc;
    text-decoration: none;
    font-size: 24px;
  }
}

.price {
  font-size: 1.5em;
  margin-left: 5px;
  margin-righ: 5px;
}

header {
  background-color: #C5D4F5;
  padding: 2% 2% 1%;
  height: 90px;

  #logo-canvas {
    width: 250px;
    height: 70px;
    color: $default_white;
  }

  .active {
    border-bottom: 2px solid $default_purple;
  }

  ul {
    li {
      float: right;
      display: inline;
      padding-left: 10px;
      padding-right: 10px;

      a {
        text-decoration: none;
        color: $default_white;
        font-size: 30px;

        &:hover {
          color: $default_purple;
        }
      }
    }
  }
}

#main {
  background-color: $default_white;
  padding: 5px;
}

footer {
  padding: 5px 5px 5px 30px;
  background-color: $default_blue;
  text-decoration: underline;
  color: $default_white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  clear: both;
}

table {
  text-align: center;
  border-collapse: collapse;

  a {
    text-decoration: none;
  }
}

thead {
  background-color: $default_purple;
  color: $default_white;
  font-size: 18px;

  td {
    padding: 30px;
  }
}

tr {
  display: table-row;
}

tbody {
  tr {
    &:hover {
      background-color: #ECECFE;
    }
  }

  td {
    color: #666666;
    line-height: 1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 15px;
  }
}
