<div>
  <table>
    <thead>
      <tr>
        <td>
          Name
        </td>
        <td>
          Company
        </td>
        <td>
          Hours Worked
        </td>
      </tr>
    </thead>
    <tbody>
      <%= render @projects %>
    </tbody>
  </table>
  <!-- provide content from application.html.erb -->
  <% content_for :aside do %>
    <% render 'sidebar' %><% end %>
  </div>