<div class="container-fluid">
  <div class="pending-overtime-approvals row">
    <h2>Pending (<%= @pending_approvals.count %>)</h2>
    <% @pending_approvals.each do |pending| %>
      <%= render partial: 'pending_approval', locals: { pending: pending } %>
    <% end %>
  </div>

  <div class="pending-submissions row">
    <h3>Confirmation Log</h3>
    <% @recents.each do |recent| %>
      <%= render partial: 'recent_audit', locals: { recent: recent } %>
    <% end %>
  </div>
</div>