<div class="jumbotron well">
  <h2>
    Hello, world!
  </h2>
  <p>
    Track time off with this easy to use application.
  </p>
  <p>
    <a class="btn btn-primary btn-large" href="#">Learn more</a>
  </p>
</div>

<div>
  <% if user_signed_in? && admin?(current_user) %>
    <%= render "static/admin" %>
    <% elsif user_signed_in? %>
      <%= render "static/employee" %>
    <% end %>
  </div>