<header class="masthead mb-auto">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center">
      <h3 class="masthead-brand">Appsbyahrens</h3>
      <%= navigation_helper('nav-link', :span) %>
      <%= login_links_helper('application') %>
    </nav>
  </div>
</header>