<div class="row">
  <div class="col-12">
    <div class="row">
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p><%= dynamic_copyright('Appsbyahrens', 'All Rights Reserved') %></p>
        </div>
      </footer>
    </div>
  </div>
</div>
