<footer>
  <p>Copyright <%= DateTime.now.year %> | <span><%= link_to "Contact", pages_contact_path, class: 'btn btn-link' %> | <span><%= link_to "About", pages_about_path, class: 'btn btn-link' %></span></p>
</footer>
