<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile-image-display.png', width: 150, height: 150, alt: 'Profile Image' %>
  </div>
  <div class="col-md-8">
    <p class="text-left">iOS Developer for 7 years</p>
    <p class="text-left">
      Enjoy working in Swift
    </p>
    <p class="text-left">
      Organizer of SwiftMN
    </p>
    <p class="text-left">
      Time to get weird
    </p>
  </div>
</div>
