<div class="about mt-2">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'profile-image-display.png', width: 200, height: 200, alt: 'Profile Image', class: 'border rounded' %>
    </div>
    <div class="col-md-8 text-center">
      <h1>About Me</h1>
      <p>iOS Developer for 7 years who's work on my iOS projects. Passionate developer who enjoys working with Rails, Swift, MongoDB, CouchDB. Also an organizer for SwiftMN</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% @skills.each do |skill| %>
        <%= render 'skill', skill: skill %>
      <% end %>
    </div>
  </div>
</div>