<h1>Pages#home</h1>

<% if current_user %>
<h3>Hello, <%= current_user.first_name %></h3>
<% end %>

<p>Find me in app/views/pages/home.html.erb</p>
<div>
  <%= @skills.inspect %>

</div>
<div>
  <%= @portfolios.inspect %>
</div>
