<main role="main" class="inner cover">
  <h1 class="cover-heading">Rails News</h1>
  <% @rails_tweets.each do |tweet| %>
    <%= render 'tweet', tweet: tweet %>
  <% end %>

  <h1 class="cover-heading">Swift News</h1>
  <% @swifty_tweets.each do |tweet| %>
    <%= render 'tweet', tweet: tweet %>
  <% end %>
</main>
