<div>
  <table>
    <thead>
      <%= render 'work-table-header' %>
    </thead>
    <tbody>
      <%= render partial: 'work', collection: @works %>
    </tbody>
  </table>

  <!-- provide content from application.html.erb -->
  <% content_for :aside do %>
    <% render 'sidebar' %><% end %>
  </div>