<%# class="success" %>
<tr>
  <td>
    <%= time_off.id %>
  </td>
  <td>
    <%= time_ago_in_words(time_off.date) %>
  </td>
  <td>
    <%= time_off.user.full_name %>
  </td>
  <td>
    <%= time_off.rationale %>
  </td>
</tr>
