<h1>Time Off</h1>

<h2>
  <%= @timeoff.date %>
</h2>

<h4>Rationale</h4>
<p>
  <%= @timeoff.rationale %>
</p>

<h4>Status</h4>
<p>
  <%= @timeoff.status %>
</p>

<h4>Hours</h4>
<p>
  <%= @timeoff.overtime_request %>
</p>
