@import "bootstrap-sprockets";
@import "bootstrap";
@import "homepage.scss";
@import "posts.scss";
@import "gritter";
@import "bourbon";

.overtime-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shared-links {
  margin-top: 20px;

  a {
    margin-bottom: 5px;
  }
}
