<div class="album py-5 bg-light">
  <div class="container">
    <% if logged_in?(:site_admin) %>
      <div class="row sortable">
    <% else %>
      <div class="row">
    <% end %>
      <%= render @portfolios %>
    </div>
  </div>
</div>
