<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">New Portfolio</h3>
      <%= render 'form', portfolio: @portfolio, submit_button: 'Create Portfolio' %>
    </div>
  </div>
</main>
