<div class="form-group">
  <label class='radio-inline'>
    <%= form.radio_button :status, 'submitted', class: 'radio' %>
    Submitted
  </label>

  <label class='radio-inline'>
    <%= form.radio_button :status, 'approved', class: 'radio' %>
    Approved
  </label>

  <label class='radio-inline'>
    <%= form.radio_button :status, 'rejected', class: 'radio' %>
    Rejected
  </label>
</div>
