<h1>Overtime Requests</h1>
<table class="table">
  <thead>
  	<tr>
  		<th>
  			Rationale
  		</th>
  		<th>
  			Requested
  		</th>
      <th>
  			Requester
  		</th>
      <th>
  			Status
  		</th>
  	</tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
