<h1>Time Off Requests</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        Full Name
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @audit_logs %>
  </tbody>
</table>