<h1>All My Posts</h1>
<p>Below is a list of my brain dumps</p>

<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<p><%= post.body %></p>
	<p><%= link_to "Show", post %></p>
<% end %>

<%= link_to "New Post", new_post_path %>