<% if model.errors.any? %>
  <div id='form-errors'>
    <p>
      Correct the following errors
    </p>
    <ul class="error-list">
      <% model.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
