// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-navigation-bar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  font-family: guardian-egypt, georgia, serif;
  font-weight: 300;
  color: #D5641C;
  font-size: 30px;
}
