// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-navigation-bar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  font-family: guardian-egypt, georgia, serif;
  font-weight: 300;
  color: #D5641C;
  font-size: 30px;
}

.glyphicon {
  padding-left: 8px;
  padding-right: 8px;

  &:hover {
    text-decoration: none;
  }
}
$border-radius-default: #E3E3E3;
@mixin radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: $border-radius-default;
  border: 2px solid $border-radius-default;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.homepage-block {
  margin: 20px;
  padding: 15px;
  background-color: #1D3C91;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  &:hover {
    background-color: #172B63;
  }
}

.pending-overtime-approvals {
  @include radius;
}

.pending-submissions {
  @include radius;
}