<div class="jumbotron">
  <div class="container">
    <h1>Facebook on Rails</h1>
    <p>Welcome to Facebook on Rails</p>
    <div class="progress">
       <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
       <div class="progress-bar progress-bar-success" style="width: 10%"></div>
       <div class="progress-bar progress-bar-warning" style="width: 10%"></div>
          <div class="progress-bar progress-bar-success" style="width: 30%"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Connect with Facebook</h3>
      <p>Login with Facebook</p>
    </div>
    <div class="col-md-4">
      <h3>Create Posts</h3>
      <p>Post just like you would to Facebook</p>
    </div>
    <div class="col-md-4">
      <h3>Socialize</h3>
      <p>Why bother meeting in real life</p>
    </div>
  </div>
</div>
