<tr>
  <td>
    <span><%= link_to "#{ company.name }", company_path(company) %></span>
  </td>
  <td>
    <span><%= "Projects (#{company.projects.count})" %></span>
  </td>
  <td>
    <span><%= "Employees (#{company.users.count})" %></span>
  </td>
</tr>