<%= form_with model: company, local: true, class: 'pure-form pure-form-stacked' do |f| %>
  <fieldset>
    <legend>Create Company</legend>
    <div class="pure-control-group">
      <%= f.label :name %>
      <%= f.text_field :name, id: :company_name, class: 'pure-input-1-2', placeholder: 'Company Name' %>
    </div>
    <div class="pure-control-group">
      <%= f.submit 'Create Company', class: 'pure-button pure-button-primary' %>
    </div>
  </fieldset>
<% end %>
