<div>
  <table>
    <thead>
      <tr>
        <td>
          Company
        </td>
        <td>
          # Projects
        </td>
        <td>
          # Employees
        </td>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'company', collection: @companies %>
    </tbody>
  </table>

  <!-- provide content from application.html.erb -->
  <% content_for :aside do %>
    <% render 'sidebar' %><% end %>
  </div>