<div>
	<%= render @company %>
	<%= render 'shared/projects', projects: @company.projects %>
	<p><%= link_to 'All Companies', companies_path %></p>
	<p><%= link_to 'Edit Company', edit_company_path(@company) %></p>
</div>
