<h1><%= @company.name %></h1>

<div>
  <% if @company.projects.count > 0 %>
    <table>
      <thead>
        <tr>
          <td>
            Name
          </td>
          <td>
            Hours Worked
          </td>
        </tr>
      </thead>
      <tbody>
        <% @company.projects.each do |project| %>
          <tr>
            <td>
              <span><%= link_to "#{ project.name }", project_path(project) %></span>
            </td>
            <td>
              <span><%= pluralize(project.hours_worked, 'hour') %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      No current Projects found
    </p>
  <% end %>

  <!-- provide content from application.html.erb -->
  <% content_for :aside do %>
    <% render 'sidebar', company: @company %>
  <% end %>
  </div>
