
<div class="row">
  <div class="col-md-4">
    <h1 class="text-center">Topics</h1>
    <p class="text-center">
      These are a all the topcis associated with blogs. Pretty sweet.
      </p>
    </div>
    <div class="col-md-8">

      <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <%= render @topics %>
          </tbody>
        </table>
      </div>
  </div>
